<template>
 <div class="inset-x-0 bottom-0 fixed">
  <div class="flex mt-3 justify-center w-full">
    <ul class="flex justify-center">
      <li class="border rounded-full p-3 m-1 cursor-pointer" :class="{'opacity-20 pointer-events-none': page === 1}"
        @click="changePage(page-1)">
        <i class="fa-solid fa-angles-left"></i>
      </li>
      <li v-if="page >= 3" class="border rounded-full p-3 m-1 cursor-pointer" @click="changePage(page = 1)">
        ...
      </li>
      <li
          v-for="item in pages.slice(page-1, page+4)" :key="item"
          class="border rounded-full p-3 m-1 cursor-pointer"
          :class="{'bg-gray-600 text-white': page === item}"
          @click="changePage(item)"
        >{{ item }}
      </li>
      <li
        v-if="page < pages.length - 6"
        class="border rounded-full p-3 m-1 cursor-pointer"
        @click="changePage(page = pages.length - 3)"
      >...
      </li>
       <li
          class="border rounded-full p-3 m-1 cursor-pointer"
          :class="{'opacity-20 pointer-events-none': page >= pages.length}"
          @click="changePage(page+1)"
        >
        <i class="fa-solid fa-angles-right"></i>
      </li>
    </ul>
  </div>
 </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'Pagination',
  data() {
    return {
      page: 1,
      pages: [],
      perPage: 24,
    };
  },
  computed: {
    ...mapState(['pokemonsInformation', 'count']),
    query() {
      return {
        page: this.page,
        perPage: this.perPage,
      };
    },
  },
  methods: {
    ...mapActions(['fetchPokemons']),
    changePage(value) {
      this.page = value;
      this.fetch();
    },
    async fetch() {
      this.$emit('changeLoading', true);
      try {
        await this.fetchPokemons(this.query);
        this.setPages(this.count);
      } catch (err) {
        console.error(err);
      } finally {
        this.$emit('changeLoading', false);
      }
    },
    setPages(value) {
      const numberOfPages = Math.ceil(value / this.perPage);
      const result = [];
      for (let index = 1; index <= numberOfPages; index += 1) {
        result.push(index);
      }
      this.pages = result;
    },
  },
  created() {
    this.fetch();
  },
};
</script>
