<template>
    <div class="inline">
      <div>
        <PokemonsCard @getPokeId="getPokeId" :pokemonsData="searchPokemonResult" :loading="loading" />
      </div>
      <div class="flex justify-center">
        <h3 class="text-rose-800">{{ noResultMessage }}</h3>
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import PokemonsCard from '@/components/PokemonsCard/index.vue';

export default {
  name: 'SearchPokeCard',
  components: {
    PokemonsCard,
  },
  data() {
    return {
      loading: false,
    };
  },
  computed: {
    ...mapState(['searchPokemonResult', 'noResultMessage']),
  },
  methods: {
    getPokeId(item) {
      const { id } = item;
      this.$router.push(`/${item.name}/${item.id}`);
      this.$emit('sendId', id);
    },
  },
};
</script>
