<template>
    <div>
      <div v-if="checkPokemons">
        <PokemonsCard @getPokeId="getPokeId" :pokemonsData="pokemonsInformation" :loading="loading" />
        <Pagination @changeLoading="changeLoading" />
      </div>
      <div>
        <SearchPokeCard />
      </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';
import PokemonsCard from '@/components/PokemonsCard/index.vue';
import Pagination from '@/components/Pagination/index.vue';
import SearchPokeCard from '@/components/SearchPokeCard/index.vue';

export default {
  name: 'HomePage',
  components: {
    PokemonsCard,
    Pagination,
    SearchPokeCard,
  },
  data() {
    return {
      loading: false,
    };
  },
  methods: {
    changeLoading(value) {
      this.loading = value;
    },
    getPokeId(item) {
      const { id } = item;
      this.$router.push(`/${item.name}/${item.id}`);
      this.$emit('sendId', id);
    },
  },
  computed: {
    ...mapState(['pokemonsInformation', 'searchPokemonResult', 'noResultMessage']),
    checkPokemons() {
      return this.searchPokemonResult.length === 0 && !this.noResultMessage;
    },
  },
};
</script>
