<template>
   <div class="flex justify-center w-full mt-28">
      <div class="w-full" v-for="item in searchPokemonResult" :key="item.id">
         <span class="flex justify-center">
            <p class="uppercase text-4xl text-slate-700 tracking-wide font-semibold">{{ item.name }}</p>
         </span>
         <div class="flex justify-center mt-20 w-full">
            <div class="float-left mt-24">
                  <table class="text-2xl text-slate-700 grid gap-y-5">
                     <tr>
                        <td class="text-right">ID</td>
                        <td class="pl-10 indent-14">#{{ item.id }}</td>
                     </tr>
                     <tr>
                        <td class="text-right">Height</td>
                        <td class="pl-10 indent-2">{{ item.height }}</td>
                     </tr>
                     <tr>
                        <td class="text-right">Weight</td>
                        <td class="pl-10 capitalize">{{ item.weight }}</td>
                     </tr>
                     <tr v-for="(ability, index) in item.abilities" :key="index">
                        <td class="text-right">Abilitie</td>
                        <td class="pl-10 capitalize">{{ ability }}</td>
                     </tr>
                  </table>
            </div>
            <div class="flex justify-center px-20">
               <img :src="item.image" :alt="item.name">
            </div>
            <div class="flex justify-center flex-col ml-10">
               <div class="uppercase my-4" v-for="(stat, index) in item.stats" :key="index">
                  {{ stat.stat.name }}
                  <div class="bg-gray-200 h-5 w-28 rounded-full" v-for="(value, index) in pokemonSpecies" :key="index">
                     <div
                        class="progressbar h-full lowercase text-white flex items-center justify-end pr-2"
                        :style="{width: `${stat.base_stat}%`, backgroundColor: `${value.color.name}`}"
                        :class="['rounded-full']"
                        role="progressbar"
                        :aria-valuenow="stat.base_stat"
                        aria-valuemin="0"
                        aria-valuemax="100"
                     >{{ stat.base_stat }}%
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'PokemonDetail',
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  computed: {
    ...mapState(['searchPokemonResult', 'pokemonSpecies']),
  },
  created() {
    this.fetch();
  },
  methods: {
    ...mapActions(['searchPokemon', 'fetchPokemonSpecies']),
    async fetch() {
      try {
        await this.searchPokemon(this.id);
        await this.fetchPokemonSpecies(this.id);
      } catch (err) {
        console.error(err);
      }
    },
  },
};
</script>
