<template>
  <nav class="top-0 fixed w-full z-10 bg-white border-gray-200 px-2 py-5 rounded drop-shadow-md h-20">
    <div class="container flex items-center ml-10">
      <a class="text-2xl cursor-pointer" href="/">PokeApp</a>
      <div class="form-input border border-slate-200 rounded-xl p-1 mx-4 items-center">
        <input type="text" class="outline-none w-52 px-1" placeholder="Search.." v-model="searchText"
          @keydown.enter="searchPokemon(searchText)">
        <button @click="searchPokemon(searchText)" type="button">
          <i class="fa-solid fa-magnifying-glass text-sky-700 px-2"/>
        </button>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'Navbar',
  data() {
    return {
      searchText: '',
    };
  },
  methods: {
    ...mapActions(['searchPokemon']),
  },
};
</script>
