<template>
<div class="w-full flex justify-center">
    <div v-if="!loading" class="flex w-max mt-24 ">
        <div class="grid grid-cols-8 gap-x-8 gap-y-7">
            <div class="cursor-pointer" v-for="item in pokemonsData" :key="item.id" @click="getPokemon(item)">
                <div class="border-2 rounded w-40 h-60 hover:bg-silver">
                  <p class="float-left ml-3 mt-1 text-center text-md text-slate-800">#{{ item.id }}</p>
                  <p class="text-center w-36 mt-7 text-xl text-slate-800 text-md break-all uppercase mx-2">{{ item.name }}</p>
                  <img class="w-auto h-auto" :src="item.image">
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: 'PokemonsCard',
  props: {
    loading: {
      type: Boolean,
      required: true,
    },
    pokemonsData: {
      type: Array,
      required: true,
    },
  },
  methods: {
    getPokemon(item) {
      this.$emit('getPokeId', item);
    },
  },
};
</script>
