<template>
  <div>
    <div>
      <Navbar />
    </div>
    <div>
      <router-view />
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar/index.vue';

export default {
  components: {
    Navbar,
  },
};
</script>
